In [3]:
import pandas as pd
import numpy as np
import random
from faker import Faker
from datetime import datetime, timedelta

In [2]:
!pip install faker

Collecting faker
  Downloading faker-37.4.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\user\anaconda3\lib\site-packages (from faker) (2023.3)
Downloading faker-37.4.0-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/1.9 MB ? eta -:--:--
   ---------- ----------------------------- 0.5/1.9 MB 728.2 kB/s eta 0:00:02
   ---------- ----------------------------- 0.5/1.9 MB 728.2 kB/s eta 0:00:02
   ---------------- ----------------------- 0.8/1.9 MB 699.0 kB/s eta 0:00:02
   --------------------- ------------------ 1.0/1.9 MB 774.0 kB/s eta 0:00:02
   -------------------------- ------------- 1.3/1.9 MB 870.9 kB/s eta 0:00:01
   -------------------------------- ------- 1.6/1.9 MB 942.3 kB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 1.1 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.0

In [9]:
fake = Faker()
num_leads = 10000

lead_sources = ['Google Ads', 'LinkedIn', 'Email Campaign', 'Referral', 'Direct']
industries = ['Tech', 'Healthcare', 'Retail', 'Finance', 'Education']
funnel_stages = ['Awareness', 'Interest', 'Consideration', 'Demo', 'Proposal', 'Closed']

data = []

for i in range(num_leads):
    lead_id = f"L-{10000+i}"
    name = fake.name()
    source = random.choice(lead_sources)
    industry = random.choice(industries)
    signup_date = fake.date_between(start_date='-6M', end_date='today')

    stage_progression = funnel_stages.copy()
    max_stage_index = 0
    
    for idx in range(1, len(funnel_stages)):
        if random.random() < 0.75:  # 75% chance of progressing
            max_stage_index = idx
        else:
            break

    final_stage = stage_progression[max_stage_index]
    converted = 1 if final_stage == 'Closed' and random.random() < 0.6 else 0
    revenue = round(random.uniform(200, 2000), 2) if converted else 0

    data.append([
        lead_id, name, source, industry, signup_date,
        final_stage, converted, revenue
    ])

In [10]:
df = pd.DataFrame(data, columns=[
    'lead_id', 'lead_name', 'lead_source', 'industry', 'signup_date',
    'stage_reached', 'converted', 'revenue'
])

In [11]:
df.head()

,lead_id,lead_name,lead_source,industry,signup_date,stage_reached,converted,revenue
0,L-10000,Abigail Frost,Referral,Education,2025-06-16,Interest,0,0.0
1,L-10001,David Perry,Referral,Healthcare,2025-07-13,Interest,0,0.0
2,L-10002,Taylor Murray,Email Campaign,Finance,2025-06-22,Consideration,0,0.0
3,L-10003,Cody Adams,LinkedIn,Education,2025-05-16,Awareness,0,0.0
4,L-10004,Emily Harris,Direct,Tech,2025-04-14,Proposal,0,0.0

In [15]:
df.to_excel("sales_funnel_data.xlsx", index=False)

In [16]:
import os
os.getcwd()

'C:\\Users\\User'

In [18]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [21]:
df.to_excel(r"C:/BA Projects/Sales-Funnel-Analysis/Data/sales_funnel_data.xlsx", index=False)